<div class="container py-4">
    <div class="row" >
        <div class="col-md-12">
            <div class="mb-4">
                <a href="/listings" class="text-decoration-none text-muted">
                    <i class="fas fa-arrow-left me-2"></i>
                    <span>Back</span>
                </a>
            </div>
            <div class="py-4">
                <h3 class="mb-4 display-4">Add New Listing</h3>
                
                <form action="/listings/new" method="POST" novalidate class="needs-validation">
                    <div class="mb-4">
                        <label for="title" class="form-label text-muted small"> Title</label>
                        <input type="text" class="form-control" id="title" name="listing[title]" 
                               placeholder="Text input" required>
                        <div class="valid-feedback">
                            Title Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Enter a Valid Title
                        </div>
                    </div>
                    <div class="mb-4">
                        <label for="description" class="form-label text-muted small">Description </label>
                        
                        <textarea class="form-control border-1" id="description" name="listing[description]" rows="4" 
                                  placeholder="I've typed something here" required></textarea>
                        <div class="valid-feedback">
                            Description Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Enter a Valid Description
                        </div>
                    </div>
                    <div class="mb-4">
                        <label for="image" class="form-label text-muted small">Image URL</label>
                        <input type="url" class="form-control border-1" id="image" name="listing[image]" 
                               placeholder="https://example.com/image.jpg" required>
                        
                        <!-- <div class="valid-feedback">
                            Image Url Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Enter a Valid Url
                        </div> -->
                    </div>


                    <div class="row">

                        <div class="mb-4 col-md-4">
                            <label class="form-label text-muted small">Country</label>
                            <input class="form-control border-1" name="listing[country]" placeholder="India" type="'text" required>
                            <div class="valid-feedback">
                                Country Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Enter a Valid Country
                            </div>
                            
                        </div>
                        
                        <div class="mb-4 col-md-4">
                            <label class="form-label text-muted small">Price per night</label>
                            <div class="input-group">
                                <span class="input-group-text border-1">₹</span>
                                <input type="number" class="form-control border-1" name="listing[price]" placeholder="100" min="1" required>
                                <div class="valid-feedback">
                                    Price Looks good!
                                </div>
                                <div class="invalid-feedback">
                                    Enter a Valid Price
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="mb-4">
                        <label class="form-label text-muted small">Location</label>
                        <input type="text" class="form-control border-1" name="listing[location]" placeholder="City name" required>
                        <div class="valid-feedback">
                            Location Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Enter a Valid Location
                        </div>
                    </div>

                   <div class="mt-4">
                                    <button type="submit" class="btn btn-primary px-3 ">
                                        Add
                                        <i class="fas fa-arrow-right ms-2"></i>
                                    </button>
                                </div>

                </form>
            </div>
        </div>
    </div>
</div>
