<div class="ms-5">
    <div class="mt-5 ">
        <a href="/listings" class="text-decoration-none text-muted">
            <i class="fas fa-arrow-left me-2"></i>
            <span>Back</span>
        </a>
    </div>
    <div class="ml-5">

        <dotlottie-wc 
        src="https://lottie.host/ee06bbbd-fcbc-4f8b-a1c0-a5e120de548b/u2jwmwapm2.lottie" 
        speed="1" 
        autoplay 
        loop
        style="width: 900px; height: 700px;">
    </dotlottie-wc>
</div>
</div>
